*{
    box-sizing: border-box;
    color: white;
}

body{
    text-align: center;
    margin: 0;
    background-color: #34495e;
}

.list{
    border: 1px solid black;
    background: #191919;;
    width: 500px;
    margin: auto;
    color: white;
}

ul{
    list-style: none;
    padding: 0;
}


button{
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

h1{
    font-weight: 700;
    
}

.input-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input{
    background: none;
    margin: 20px 0;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    transition: .3s;
    font-size: 20px;
}

.input:focus {
    width: 280px;
    border-color: #2ecc71;
}

.add-button i{
    color: #3498db;
    font-size: 28px;
    margin-left: 30px;
    transition: .3s;

}

.add-button i:hover{
    color: #2ecc71;
}

.items{
    height: 600px;
    overflow-y: auto;
}


.checked{
    text-decoration: line-through;
}

.hide{
    display: none;
}

.item{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    font-size: 20px;
    border-bottom: 2px solid white;
    width: 90%;
    margin: auto;
}

.item-name{
    cursor: pointer;
    transition: .3s;
}

.item-name:hover{
    color: #3498db;
    transform: scale(1.1);
}

.item-delete i{
    font-size: 20px;
    transition: .3s;
}

.item-delete i:hover{
    color: #3498db;
    transform: scale(1.2);
}

.btn-area{
    margin-top: 30px;
    margin-bottom: 20px;
}


.btn-area button{
    font-size: 20px;
    transition: .5s;
}

.btn-area button:hover{
    color: #3498db;
    transform: scale(1.1);
}