*{
    box-sizing: border-box;
    color: white;
}

body{
    text-align: center;
    margin: 0;
    background-color: #34495e;
}

.list{
    border: 1px solid black;
    background: #191919;;
    width: 500px;
    margin: auto;
    color: white;
}

ul{
    list-style: none;
    padding: 0;
}


button{
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

.items{
    height: 600px;
    overflow-y: auto;
}